@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    font-family: 'Merriweather'
}

.img-size{        
    height: 30vh;  
    width: 100%;  
    object-fit:cover;
    object-position:0% 15%;
}

img{
    max-width: 100%;
}
.feature-bg{
    background:rgba(255, 255,255, 0.3 );
    width: 100vw;
    border-radius: 10px;
}

.feature-text{
    font-size:2rem;
    line-height: 4rem;    
}

.header_img{
    min-height: 25vh;
}

.card{
    margin-bottom: 20px;
}
/*Welcome section*/
.card-text{
    font-size: 1.2rem;
}

/* Price section*/
.title {
    color:goldenrod;
}

.list-group-item{
    background:none;
    font-size: 1.1em;
    color:white;
}


@media screen and (min-width: 768px){
    .feature-bg{
        width: 60vw;
    }        

    span {
        position:absolute;
        background:rgba(175, 168, 169, 0.6 );
        height: 80px;
        width: 80px;
        line-height: 80px;
        border-radius: 80px;
        border-radius: 100%;
        top:-40px;
        left:-40px;
        margin-left: 50%;
        font-size: 1.8rem;
        
    }

    .card{
        margin-bottom: 0;;
    }
}


